<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>community</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card *ngFor="let com of communityInfoList">

      <!-- Header -->
      <ion-item color="default" [routerLink]="['/', 'places', 'tabs', 'forum', com.id]">
        <ion-thumbnail slot="start">
          <img src="{{ com.icon }}">
        </ion-thumbnail>
        <ion-label>
          <h2 color="default">{{ com.title }}</h2>
          <p>{{ com.titledisp }}</p>
        </ion-label>
      </ion-item>

      <img src="{{ com.image }}">

      <ion-card-content>
        {{ com.disp }} 
      </ion-card-content>

      <ion-row>
        <ion-col col-6>
          <ion-button fill="clear" size="small" icon-left>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{ com.likes }} likes</div>
          </ion-button>
        </ion-col>
        <ion-col col-6>
          <ion-button fill="clear" size="small" icon-left>
            <ion-icon name="text"></ion-icon>
            <div>{{ com.comments }} activites</div>
          </ion-button>
        </ion-col>

      </ion-row>

    </ion-card>

  </ion-grid>
</ion-content>
