<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>結婚情報</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Segment Part -->
  <ion-segment (ionChange)="onFilterUpdate($event)" value="all">
    <ion-segment-button value="all">全部</ion-segment-button>
    <ion-segment-button value="male">男性</ion-segment-button>
    <ion-segment-button value="female">女性</ion-segment-button>
  </ion-segment>

  <ion-grid>
    <!-- First Info -->
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card>
          <!-- Card Header -->
          <ion-card-header>
            <ion-card-title
              [routerLink]="[
                '/',
                'places',
                'tabs',
                'discover',
                marryInfo[0].id
              ]"
            >
              {{ marryInfo[0].name }}
            </ion-card-title>
            <ion-card-subtitle>
              <span *ngIf="marryInfo[0].sex === 'male'">男性</span>
              <span *ngIf="marryInfo[0].sex === 'female'">女性</span>
              /
              <span>{{ marryInfo[0].country }}</span>
              /
              <span>{{ marryInfo[0].work }}</span>
            </ion-card-subtitle>
          </ion-card-header>

          <!-- Image -->
          <ion-item *ngIf="marryInfo[0].sex === 'male'">
            <img src="/assets/images/male1.png">
          </ion-item>

          <ion-item *ngIf="marryInfo[0].sex === 'female'">
            <img src="/assets/images/female1.png">
          </ion-item>
          
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- from 2nd Info -->
    <ion-grid>
      
    </ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-list>
          <ion-item
            *ngFor="let info of marryInfo.slice(1)"
            [routerLink]="['/', 'places', 'tabs', 'discover', info.id]"
            detail
          >
            <ion-thumbnail slot="start">
              <img src="/assets/images/male2.png" *ngIf="info.sex === 'male'" />
              <img
                src="/assets/images/female2.png"
                *ngIf="info.sex === 'female'"
              />
            </ion-thumbnail>
            <ion-label>
              <h2>{{ info.name }}</h2>
              <p *ngIf="info.sex === 'male'">
                男性 / {{ info.country }} / {{ info.work }}
              </p>
              <p *ngIf="info.sex === 'female'">
                女性 / {{ info.country }} / {{ info.work }}
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
