<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-card>
    <ion-item>
      <img src="/assets/images/male2.png" *ngIf="info.sex === 'male'" />
      <img src="/assets/images/female2.png" *ngIf="info.sex === 'female'" />
    </ion-item>
    <ion-card-header>{{ info.name }}</ion-card-header>
    <ion-card-content>
      <ion-grid>
        <!-- country -->
        <ion-row>
          <ion-col size="4">
            <ion-item no-lines>
              <ion-label>出身</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="8">
            <ion-item no-lines>
              <ion-label>{{ info.country }}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- income -->
        <ion-row>
          <ion-col size="4">
            <ion-item no-lines>
              <ion-label>収入</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="8">
            <ion-item no-lines>
              <ion-label>{{ info.income }}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- 興味 -->
        <ion-row>
          <ion-col size="4">
            <ion-item no-lines>
              <ion-label>興味</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="8">
            <ion-item no-lines>
              <ion-label>{{ info.hobby }}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- PR -->
        <ion-row>
          <ion-col size="12">
            <ion-item no-lines>
              <ion-label>{{ info.selfpr }}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- 要求 -->
        <ion-row>
          <ion-col size="12">
            <ion-item no-lines>
              <ion-label>{{ info.yourinfo }}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- kimhoo 20190818 add chat -->
        <!-- チャット -->
        <ion-row>
          <ion-col size="12">
            <ion-item no-lines 
            [routerLink]="['/', 'places', 'tabs', 'discover', info.id,'memberchat']"
            
            > 
              <ion-button type="button" fill="solid" expand="block" (click)="onChat()">Start Chat</ion-button> 
              <!-- <ion-label>Start Chat</ion-label> -->
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- <ion-button color="primary" margin (click)="onBookPlace()">Book</ion-button> -->
</ion-content>
