<ion-header> </ion-header>

<ion-content padding>
  <div text-center mb-400>
    <h3>Marry In JAPAN</h3>
  </div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <!-- form check -->
              <ion-input
                type="text"
                ngModel
                name="email"
                required
                email
                #emailCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none"
            >
              <ion-label>Should be a valid email address.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                type="password"
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none"
            >
              <ion-label>Should at least be 6 charactor.</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-button
            type="submit"
            color="primary"
            (click)="onLogin()"
            *ngIf="!isLoading"
            expand="block"
            fill="solid"
            [disabled]="!f.valid"
            >ログイン</ion-button
          >
          <ion-button
            type="button"
            color="warning"
            fill="solid"
            expand="block"
            (click)="onSwitchAuthMode()"
          >
            新規登録
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!-- <div text-center>
      <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div> -->
</ion-content>
