<ion-header>
  <ion-toolbar>
    <!-- 戻りボタン -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/forum"></ion-back-button>
    </ion-buttons>

    <!-- add form button -->
    <!-- <ion-buttons slot="end" (click)="createNewActivity()">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-buttons> -->

    <!-- title -->
    <ion-title>{{ communityDetail.title }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="form-background">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="createNewActivity()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item
            no-padding
            *ngFor="let item of commnets"
            detail
            [routerLink]="['/', 'places', 'tabs', 'forum', formId, item.id]"
          >
            <ion-label>
              <h2>{{ item.title ? item.title : "タイトル無" }}</h2>
              <p>{{ item.content }}</p>
              <p>
                author: {{ item.author }} | comment:
                {{ item.comments.length }} | likes: {{ item.likes }}
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
