<ion-header>
  <ion-toolbar>
    <!-- 戻りボタン -->
    <ion-buttons slot="start">
      <ion-back-button [text]="''"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col color="primary">
        {{ subFormDetial?.title }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm>
        <ion-text color="dark">
          <p>{{ subFormDetial?.content }}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item-divider>
    <ion-label> comments: {{ subFormDetial?.comments.length }} </ion-label>
  </ion-item-divider>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item *ngFor="let sub of comments">
      <ion-avatar slot="start">
        <img src="" />
      </ion-avatar>
      <ion-text>
        {{ sub?.title }}
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="right">
    <ion-row align-item-center no-padding>
      <ion-col size="10">
        <textarea maxRow="3" [(ngModel)]="newComment" class="message-input"></textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newComment === ''" class="msg-btn" (click)="sendMessage()">
          <ion-icon name="ios-send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
