<ion-header>
  <ion-toolbar>
    <!-- 戻りボタン -->
    <ion-buttons slot="start">
      <ion-back-button [text]="''"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col color="primary">
        {{ subFormDetial?.title }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm>
        <ion-text color="dark">
          <p>{{ subFormDetial?.content }}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item-divider>
    <ion-label> comments: {{ subFormDetial?.comments.length }} </ion-label>
  </ion-item-divider>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item *ngFor="let sub of comments">
      <ion-avatar slot="start">
        <img src="" />
      </ion-avatar>
      <ion-text>
        {{ sub?.title }}
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-item-divider color="danger">
    <ion-label>
      Add Your Comments:
    </ion-label>
  </ion-item-divider>

  <!-- add comment -->
  <ion-item>
    <ion-label position="floating">Add Comments:</ion-label>
    <ion-textarea
      [(ngModel)]="newComment"
      rows="6"
      cols="20"
      placeholder="Enter any notes here..."
    >
    </ion-textarea>
  </ion-item>
  <ion-button
    expand="full"
    color="success"
    [disabled]="newComment === ''"
    (click)="sendMessage()"
    >Commit</ion-button
  >
</ion-content>